.btn,
.navbar .navbar-nav > a.btn{
    border-width: $border-thick;
    font-weight: $font-weight-normal;
    font-size: $font-size-small;
    line-height: $line-height;
    margin: 10px 1px;
    border: none;
    border-radius: $border-radius-small;
    padding: $padding-btn-vertical $padding-btn-horizontal;
    cursor: pointer;

    @include btn-styles($default-color, $default-states-color);

    &:hover,
    &:focus{
        @include opacity(1);
        outline: 0 !important;
    }
    &:active,
    &.active,
    .open > &.dropdown-toggle {
         @include box-shadow(none);
         outline: 0 !important;
    }

    &.btn-icon {
        // see above for color variations
        height: $btn-icon-size-regular;
        min-width: $btn-icon-size-regular;
        width: $btn-icon-size-regular;
        padding: 0;
        font-size: $btn-icon-font-size-regular;
        overflow: hidden;
        position: relative;
        line-height: normal;

        &[class*="btn-outline-"]{
            padding: 0;
        }

        &.btn-sm{
            height: $btn-icon-size-small;
            min-width: $btn-icon-size-small;
            width: $btn-icon-size-small;

            i.fab,
            i.now-ui-icons{
                font-size: $btn-icon-font-size-small;
            }
        }

        &.btn-lg{
            height: $btn-icon-size-lg;
            min-width: $btn-icon-size-lg;
            width: $btn-icon-size-lg;

            i.now-ui-icons,
            i.fab{
                font-size: $btn-icon-font-size-lg;
            }
        }

        &:not(.btn-footer) i.now-ui-icons,
        &:not(.btn-footer) i.fab{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-12px, -12px);
            line-height: 1.5626rem;
            width: 23px;
        }

    }

    &:not(.btn-icon) .now-ui-icons{
        position: relative;
        top: 1px;
    }
}

// Apply the mixin to the buttons
// .btn-default { @include btn-styles($default-color, $default-states-color); }
.btn-primary { @include btn-styles($primary-color, $primary-states-color); }
.btn-success { @include btn-styles($success-color, $success-states-color); }
.btn-info    { @include btn-styles($info-color, $info-states-color); }
.btn-warning { @include btn-styles($warning-color, $warning-states-color); }
.btn-danger  { @include btn-styles($danger-color, $danger-states-color); }
.btn-neutral { @include btn-styles($white-color, $white-color); }

.btn-outline-primary { @include outline-buttons($primary-color, $primary-states-color); }
.btn-outline-success { @include outline-buttons($success-color, $success-states-color); }
.btn-outline-info    { @include outline-buttons($info-color, $info-states-color); }
.btn-outline-warning { @include outline-buttons($warning-color, $warning-states-color); }
.btn-outline-danger  { @include outline-buttons($danger-color, $danger-states-color); }
.btn-outline-default { @include outline-buttons($default-color, $default-states-color); }

.btn-round{
    border-width: $border-thin;
    border-radius: $btn-round-radius !important;
    padding: $padding-btn-vertical  $padding-round-horizontal;

    &[class*="btn-outline-"]{
        padding: $padding-btn-vertical - 1  $padding-round-horizontal - 1;
    }
}
[class*="btn-outline-"]{
    border: $border;
    padding: $padding-btn-vertical - 1 $padding-round-horizontal - 1;
    background-color: $transparent-bg;
}

[class*="btn-outline-"],
.btn-link{
    &.disabled,
    &:disabled,
    &[disabled],
    fieldset[disabled] & {
        &,
        &:hover,
        &:focus,
        &.focus,
        &:active,
        &.active {
            background-color: $transparent-bg;
        }
    }
}

.btn-lg{
   @include btn-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $border-radius-large);
}
.btn-sm{
    @include btn-size($padding-small-vertical, $padding-small-horizontal, $font-size-base, $border-radius-small);
}

.btn-link{
    border: $none;
    padding: $padding-base-vertical $padding-base-horizontal;
    background-color: $transparent-bg;
}

.btn-wd {
    min-width: 140px;
}
.btn-group.select{
    width: 100%;
}
.btn-group.select .btn{
    text-align: left;
}
.btn-group.select .caret{
    position: absolute;
    top: 50%;
    margin-top: -1px;
    right: 8px;
}

.btn-facebook {
  &,
  &:hover,
  &focus,
  &:active,
  &:active:focus {
    color: $social-facebook !important;
  }
}

.btn-twitter {

  &,
  &:hover,
  &focus,
  &:active,
  &:active:focus {
    color: $social-twitter !important;
  }
}

.btn-google {
  &,
  &:hover,
  &focus,
  &:active,
  &:active:focus {
    color: $social-google !important;
  }
}

.btn-github {
  &,
  &:hover,
  &focus,
  &:active,
  &:active:focus {
    color: $social-github !important;
  }
}

.btn-linkedin {
  &,
  &:hover,
  &focus,
  &:active,
  &:active:focus {
    color: $social-linkedin !important;
  }
}



.newButton2 {
  outline: none !important;
  border-width: 0 !important;
  border-radius: 10px !important;
  padding: 11px 25px !important;
  width: 175px;
  height: 50px;
  margin-left: 750px;
  background-color: #7E93DF}
.newButton2:hover {
  background-color: #60C6BE;
}
.newButton2 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.newButton2 span:after {
  content: '>>';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -2em;
  transition: 0.5s;
}
.newButton2:hover span {
  padding-right: 25px;
}
.newButton2:hover span:after {
  opacity: 1;
  right: 0;
}

.checkbox {
  width:15px;
  height:15px;
}
.checkbox:hover {
  background-color: black;
}

.newButton3 {
  border-width: 0 !important;
  border-radius: 10px !important;
  width: 240px;
  height: 50px;
  font-size: 0.7em !important;
  text-align: center !important;
  margin-left: 0 !important;
  margin-right: 500px !important;
  background-color: #D56541}
.newButton3:hover {
  background-color: #54B836;
}
.newButton3 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.newButton3 span:before {
  content: '<<';
  position: absolute;
  opacity: 0;
  top: 0;
  left: -4em;
  transition: 0.5s;
  font-size: 1em;
}
.newButton3:hover span {
  padding-left: 34px;
}
.newButton3:hover span:before {
  opacity: 2;
  left: 0;
}

.newButton4 {
  outline: none !important;
  width: 2.5em;
  height: 2.5em;
  border-width: 2px !important;
  border-radius: 5px !important;
  background-color: #4CAF50;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  font-weight: 1000;
  position: absolute;
}

.newButton4 {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
}

.newButton4:hover {
  background-color: #4CAF50;
  color: white;
  font-size: 1.1em !important;
}

.newButton5 {
  outline: none !important;
  width: 2.8em;
  height: 2.8em;
  border-radius: 0.5em !important;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  font-weight: 100;
  position: absolute;
  line-height: 100em !important;
}

.newButton5 {
  background-color: white;
  border: 2px solid white;
}

.newButton5:hover {
  background-color: white;
  color: white;
  font-size: 1.1em !important;
}

.pagination {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-top: 20px;
  padding: 0;
}

.pagination a {
  cursor: default;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #6c7ac9;
  color: #6c7ac9;
  margin-left: 10px;
}

.pagination li:not(.disabled) a:hover {
  background-color: #EAE262;
  cursor: pointer;
  transition: 0.5s;
}

.pagination li a {
  font-weight: bold;
  padding: 10px 10px 10px 10px;
}

.pagination li.active a {
  color: #fff;
  background: #6c7ac9;
}

.pagination li.disabled a {
  pointer-events: none;
  color: rgb(198, 197, 202);
  border: 1px solid rgb(198, 197, 202);
}


.demo_line_01{
  padding: 0 2em 0;
  margin: 4em 0;
  line-height: 0.2em;
  border-left: 22em solid #59AD4C !important;
  border-right: 22em solid #59AD4C !important;
  text-align: center;
  min-width: 600px;
  width: 100%;
}

.newFont {
  color:black !important;
  font-weight: 800 !important;
  font-size: 0.8em !important;
  text-align: center !important;
  padding-left: 50px !important;
}

.newCheckbox {
  width: 30px;
  height: 30px;
  animation: right 1s;
  position: absolute;
}

.button6 {
  border-width: 1px !important;
  border-radius: 50px !important;
  padding: 11px 25px !important;
  width: 250px !important;
  height: 65px !important;
  margin-left: 100px !important;
  display: inline-block !important;
  font-size: 24px !important;
  cursor: pointer !important;
  text-align: center !important;
  text-decoration: none !important;
  outline: none !important;
  color: white !important;
  background-color: #3C9EA2 !important;
  border: none !important;
  box-shadow: 0 9px #325658 !important;
}

.button6:hover {background-color: #48C5CA !important}

.button6:active {
  background-color: #48C5CA !important;
  box-shadow: 0 5px #666 !important;
  transform: translateY(4px) !important;
}


.newButton {
  border-width: 1px;
  border-radius: 50px !important;
  padding: 11px 25px !important;
  width: 250px;
  height: 50px;
  margin-left: 100px}

.newButton7 {
  outline: none !important;
  border-width: 0 !important;
  border-radius: 10px !important;
  padding: 11px 25px !important;
  width: 175px !important;
  height: 50px !important;
  margin-left: 750px !important;
  background-color: #D8AA38 !important;}
.newButton7:hover {
  background-color: #6CDC58 !important;
}
.newButton7 span {
  cursor: pointer !important;
  display: inline-block !important;
  position: relative !important;
  transition: 0.5s !important;
}
.newButton7 span:after {
  content: '>>' !important;
  position: absolute !important;
  opacity: 0 !important;
  top: 0 !important;
  right: -2em !important;
  transition: 0.5s !important;
}
.newButton7:hover span {
  padding-right: 25px !important;
}
.newButton7:hover span:after {
  opacity: 1 !important;
  right: 0 !important;
}